@font-face {
    font-family: 'Roboto-Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.img-shadow {
    position: relative;
    max-width: 100%;
    float: left;
}

.img-shadow::before {
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px 5px 30px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 5px 30px -5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 5px 30px -5px rgba(0, 0, 0, 0.75);
}

.shadow {
    -webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.75);
}

.inShadow {
    -webkit-box-shadow: inset -1px 0px 57px 24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -1px 0px 57px 24px rgba(0, 0, 0, 0.75);
    box-shadow: inset -1px 0px 57px 24px rgba(0, 0, 0, 0.75);
}

.intDoorImage {
    height: 275px;
    /*width: 123px;*/
}

.filterThumb {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flipImage {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.doorBorderLight {
    border: 5px solid #E28F3F;
}

.doorBorderGray {
    border: 5px solid #cccccc;
}

.doorBorderGrayThumb {
    border: 2px solid #cccccc;
}

.doorAstragalGray {
    border-right: 5px solid #cccccc;
    -webkit-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

.doorAstragalGrayThumb {
    border-right: 2px solid #cccccc;
}

.doorBorderMedium {
    border: 5px solid #e28f3f;
}

.doorAstragalMedium {
    border-right: 5px solid #e28f3f;
    -webkit-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

.doorAstragalMediumThumb {
    border-right: 2px solid #e28f3f;
}

.doorBorderDark {
    border: 5px solid #3e1400;
}

.doorBorderDarkThumb {
    border: 2px solid #3e1400;
}

.doorAstragalDark {
    border-right: 5px solid #3e1400;
    -webkit-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

.doorAstragalDarkThumb {
    border-right: 2px solid #3e1400;
}

.doorBorderThumb {
    border: 2px solid #E28F3F;
}

.graySill {
    border-bottom: 10px solid Gray;
}

.graySillThumb {
    border-bottom: 4px solid Gray;
}

.bronzeSill {
    border-bottom: 10px solid #1A0D00;
}

.bronzeSillThumb {
    border-bottom: 4px solid #1A0D00;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.position-fixed {
    position: fixed;
}

.right-click .dropdown.position-fixed.open {
    z-index: 9999;
    top: 28px !important;
    left: 50px !important;
    position: absolute !important;
}

.right-click .dropdown.position-fixed.open.door-quote {
    top: 0 !important;
    position: relative !important;
}

tr.right-click {
    cursor: pointer;
    color: #337ab7;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 7px;
}

.navbar-nav > li > a {
    padding: 15px 5px 2px 5px;
    margin: 0 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent !important;
    color: #555;
    /*text-decoration: underline #e8851c;*/
    border-bottom: 2px solid orange;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 7px 150px 7px 7px;
}

.sideliteframe {
    background-color: White;
    border: 1px solid black;
    position: absolute;
    z-index: 20;
    text-align: center;
    left: 20%;
    top: 20%;
}

.panel-heading {
    display: inline-block;
    width: 100%;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

@media (min-width:768px) and (max-width: 800px) {
    .product-new-class {
        float: left;
        margin: 0 10px;
        width: 30%;
    }
    .row.order-list-imgs {
        width: 34%;
        float: left;
    }
    .row.door-order-list-imgs {
        width: 34%;
        float: left;
    }
    .row.order-list-details {
        width: 60%;
        float: left;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        float: left;
        font-size: 18px;
        height: 50px;
        line-height: 20px;
        padding: 7px;
    }
}

.product-nav {
    display: inline-block;
    list-style: outside none none;
    text-align: left;
    vertical-align: top;
}

.product-img {
    display: block;
    float: left;
    position: relative;
    margin: 0 15px 15px;
    text-align: center;
    font-size: 18px;
}

.product-img > a {
    color: #555555;
}

.product-img > a:hover {
    text-decoration: none;
    color: #e8851c;
}

.product-img-size {
    height: 150px;
    display: block;
    padding: 0 10px;
}

.right-border {
    border-right: 1px solid #000;
    padding-right: 30px;
}

.product-img span.active {
    border-bottom: 3px solid orange;
    font-weight: bold;
}

.btn-orange {
    background-color: #e8851c;
    border-color: #e8851c;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    border-color: #e8851c;
    color: #000;
}

.padding-10 {
    padding: 5px 20px;
}

.label-orange {
    background-color: #e8851c;
    font-weight: normal !important;
    font-size: 14px;
}

.label-white {
    background-color: #fff;
    border: 1px solid #e8851c !important;
    font-weight: normal !important;
    font-size: 14px;
    color: #000;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.blue-border {
    border-bottom: 1px solid #337AB7;
    padding-bottom: 10px;
    width: 100%;
    float: left;
}

.orange-border {
    border: 1px solid #e8851c !important;
    background-color: #fff;
}

.no-border-left {
    border-left: none !important;
}

.no-border-right {
    border-right: none !important;
}

.col-md-2 ul li {
    list-style: none;
    padding: 3px;
    border: 1px solid #e8851c;
    border-radius: 5px;
    padding: 3px 0 0 4px;
}

.col-md-2 ul li label {
    width: 90px;
}

.no-padding {
    padding: 0px;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.detail-product-img {
    display: block;
    float: left;
    position: relative;
    font-size: 18px;
}

.product-list-img {
    display: block;
    position: relative;
    margin: 0 15px;
    text-align: center;
    font-size: 18px;
}

.no-margin {
    margin: 0;
}

.border-left-bottom {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.border-left-none {
    border-left: 0px !important;
}

.border-right {
    border-right: 1px solid black;
}

.border-left {
    border-left: 1px solid #000;
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.border-bottom-black {
    border-bottom: 1px solid #000;
}

#product-type li select {
    width: 85px;
}

.col-md-6.no-padding a {
    color: #000;
}

.col-md-6.no-padding a label:hover {
    cursor: pointer;
}

.col-md-6.no-padding a label.active {
    border: 1px solid #000;
    padding: 2px;
}

.border-box a label:hover {
    cursor: pointer;
}

.border-box a label.active {
    border: 1px solid #000;
    padding: 2px;
}

.door-type {
    height: 333px;
}

.door-type1 {
    height: 368px;
}

.selected-values.form-group {
    float: left;
    margin-right: 10px;
}

.selected-values .input-group-addon {
    float: left;
}

.selected-values .input-group-addon {
    border-color: #e8851c;
    background-color: #fff;
    height: 35px;
    padding: 8px 25px 6px 14px;
}

.selected-values .input-group > span span.innerSpan {
    font-weight: bold;
}

.selected-values .input-group > span {
    border: 1px solid #e8851c !important;
    float: left;
    height: 35px;
    padding: 7px 15px;
    border-radius: 5px 0 0 5px;
}

.selected-values .input-group-addon a {
    cursor: pointer;
    color: #E8851C;
    font-size: 16px;
    font-weight: bold;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-5 {
    margin-left: 5px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.margin-left-20 {
    margin-left: 20px;
}

.panel-default > .panel-orange {
    background-color: #e8851c;
    border-color: #e8851c;
    color: #fff;
}

.panel-orange {
    border-color: #e8851c;
}

.panel-title1 {
    color: inherit;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.Hover {}

.Hover:hover {
    background-color: #FC9B3A;
    color: White;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #e8851c;
    border-color: #e8851c;
    color: #fff;
}

.btn-primary {
    background-color: #fff;
    color: #e8851c;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: gray;
    border-color: gray;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: default;
}

.nav-tabs > li > a {
    border-radius: 0px;
    background-color: #E87604;
    color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #C66300;
    border-color: #C66300;
}

.nav-tabs {
    border-bottom: 1px solid #e8851c;
}

.only-margin-bottom-10 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.order-list .knob-image {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 29.5%;
}

.ext-order-list .knob-image {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 30%;
}

.door-order-list-imgs .knob-image {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 59%;
}

.door-families .knob-image {
    height: 5px;
    position: absolute;
    top: 52px;
    left: 47px;
}

.knob-image {
    height: 12px;
    position: absolute;
    top: 150px;
    left: 127px;
    z-index: 98;
}

.order-list .knob-right {
    left: 12% !important;
}

.ext-order-list .knob-right {
    left: 12% !important;
}

.door-order-list-imgs .knob-right {
    left: 34% !important;
}

.door-families .knob-right {
    left: 8px !important;
}

.knob-right {
    left: 12% !important;
}

.order-list .knob-image-double {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 38.5%;
}

.ext-order-list .knob-image-double {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 40%;
}

.door-order-list-imgs .knob-image-double {
    height: 5px;
    position: absolute;
    top: 53%;
    left: 55%;
}

.door-families .knob-image-double {
    height: 5px;
    position: absolute;
    top: 52px;
    left: 58px;
}

.knob-image-double {
    height: 12px;
    position: absolute;
    top: 54%;
    left: 44.5%;
    z-index: 100;
}

.orderitem {
    cursor: pointer;
}

.order-detail-img {
    float: left;
    height: 120px;
    width: 54px;
}

@media (max-width: 360px) {
    .border-left-bottom {
        border: none !important;
    }
    .margin-left-30 {
        margin-left: 0px;
    }
    .border-left {
        border: none !important;
    }
    .margin-top-20 {
        margin-top: 20px;
    }
    .margin-top-55 {
        margin-top: 55px;
    }
    .border-bottom {
        border-bottom: 1px solid #000 !important;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .right-border {
        border-right: none;
        padding-right: 0px;
    }
    .blue-border {
        border-bottom: none;
    }
    .product-img {
        width: 35%;
        margin-bottom: 20px;
    }
    .product-img > a {
        color: #555555;
        font-size: 17px;
        text-align: center;
    }
    .door-frame-dark-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-dark-double .knob-image {
        left: 38% !important;
    }
    .door-frame-primed-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-primed-double .knob-image {
        left: 38% !important;
    }
    .door-frame-medium-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-medium-double .knob-image {
        left: 38% !important;
    }
}

@media (min-width:361px) and (max-width: 640px) {
    .border-left-bottom {
        border: none !important;
    }
    .door-frame-dark-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-dark-double .knob-image {
        left: 38% !important;
    }
    .door-frame-primed-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-primed-double .knob-image {
        left: 38% !important;
    }
    .door-frame-medium-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-medium-double .knob-image {
        left: 38% !important;
    }
    .border-bottom {
        border-bottom: 1px solid #000 !important;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .margin-left-30 {
        margin-left: 0px;
    }
    .border-left {
        border: none !important;
    }
    .right-border {
        border-right: none;
        padding-right: 0px;
    }
    .blue-border {
        border-bottom: none;
    }
    .product-img {
        width: 35%;
        margin-bottom: 20px;
    }
    .product-img > a {
        color: #555555;
        font-size: 17px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .margin-top-20 {
        margin-top: 20px;
    }
    .door-type {
        height: 333px;
    }
    .border-left {
        border-left: 1px solid black !important;
    }
    .border-right {
        border-right: none !important;
    }
    .knob-image {
        height: 12px;
        position: absolute;
        top: 50%;
        left: 70%;
    }
    .door-frame-dark-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-dark-double .knob-image {
        left: 38% !important;
    }
    .door-frame-primed-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-primed-double .knob-image {
        left: 38% !important;
    }
    .door-frame-medium-double .knob-image-double {
        left: 51% !important;
    }
    .door-frame-medium-double .knob-image {
        left: 38% !important;
    }
    .order-main-1 {
        display: table-cell;
        float: left !important;
        margin-bottom: 15px;
        vertical-align: top;
        height: 368px;
        ;
    }
}

.panel-title {
    color: #e8851c;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-group {
    margin-bottom: 0;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-minus-left-14 {
    margin-left: -14px;
}

.door-frame {
    display: flex;
    padding: 4px 15px 7px;
    position: relative;
    width: 150px;
    height: 267px;
}

.door-frame-double {
    display: flex;
    padding: 7px 8px 0 7px;
    position: relative;
    width: 234px;
    height: 267px;
}

.no-text-decorate a {
    text-decoration: none;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.panel-shadow {
    -webkit-box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.75);
    border: 1px solid #000;
    border-radius: 5px;
}

.customer-panel {
    position: absolute;
    width: 100%;
    z-index: 9;
}

.quotes > tbody > tr > td.active {
    background-color: #337ab7;
    color: #ffffff;
}

.quotes > tbody > tr > td.active a {
    color: #ffffff;
}

.quotes > tbody > tr > td.active a.pointer {
    color: black;
}

.door-frame-dark {
    border-top: 5px solid #3e1400;
    border-right: 5px solid #3e1400;
    border-left: 5px solid #3e1400;
    display: inline-block;
}

.door-brick-dark {
    border-top: 9px solid #3e1400;
    border-right: 9px solid #3e1400;
    border-left: 9px solid #3e1400;
}

.door-brick-dark-thumb {
    border-top: 4px solid #3e1400;
    border-right: 4px solid #3e1400;
    border-left: 4px solid #3e1400;
}

.door-brick-medium {
    border-top: 9px solid #e28f3f;
    border-right: 9px solid #e28f3f;
    border-left: 9px solid #e28f3f;
}

.door-brick-medium-thumb {
    border-top: 4px solid #e28f3f;
    border-right: 4px solid #e28f3f;
    border-left: 4px solid #e28f3f;
}

.door-frame-medium {
    border-top: 5px solid #e28f3f;
    border-right: 5px solid #e28f3f;
    border-left: 5px solid #e28f3f;
    display: inline-block;
}

.door-frame-primed {
    border-top: 5px solid #cccccc;
    border-right: 5px solid #cccccc;
    border-left: 5px solid #cccccc;
    display: inline-block;
}

.door-brick-primed {
    border-top: 9px solid #cccccc;
    border-right: 9px solid #cccccc;
    border-left: 9px solid #cccccc;
}

.door-brick-primed-thumb {
    border-top: 4px solid #cccccc;
    border-right: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
}

.door-frame-dark-double {
    border-top: 5px solid #3e1400;
    border-right: 5px solid #3e1400;
    border-left: 5px solid #3e1400;
    display: inline-block;
}

.door-frame-medium-double {
    border-top: 5px solid #e28f3f;
    border-right: 5px solid #e28f3f;
    border-left: 5px solid #e28f3f;
    display: inline-block;
}

.door-frame-primed-double {
    border-top: 5px solid #cccccc;
    border-right: 5px solid #cccccc;
    border-left: 5px solid #cccccc;
    display: inline-block;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}


/*changes*/

.word-wrap {
    word-wrap: break-word;
}

.upper-image {
    max-height: 150px;
    max-width: 150px;
}

.product-image {
    height: 100%;
    width: 100%;
}

.main-nav-bar {
    max-width: 100%;
    height: 190px;
    overflow: auto;
    white-space: nowrap;
}

.order-main {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.title-wrap {
    white-space: normal;
    max-width: 130px;
    word-wrap: break-word;
}

.doormainoverflow {
    height: 400px;
    overflow-x: auto;
}

.doorcustomeroverflow {
    height: 250px;
    overflow-x: auto;
}

.producttypeoverflow {
    height: 550px;
    overflow-x: auto;
}

.burger-tab {
    padding: 5px;
}
