.col-xs-6
		.signature
			canvas(ng-signature-pad="sign.instalagreecustomer", height="50", width="384")
			p
				| Customer Signature
		.signature
			canvas(ng-signature-pad="sign.instalagreecompany", height="50", width="384")
			p
				|Company Signature
	.col-xs-6
		.signature
			p 
				|{{Customer.date}}
			p
				|Date
		.signature
			p
				|{{Customer.date}}
			p
				|Date