div()
	div(style="margin-bottom:30px;margin-top:20px;padding:0px 100px 0px 20px;")
		input.form-control(type='text', placeholder='Search', style='border: none !important; height:34px; width:100%;', ng-model='searchInfo.fbSearchText')
	.panel.panel-default.fb-card-body(style='margin-left: 0px; margin-right: 0px; margin-top: 30px; box-shadow: none;')
		.row.vertical-align(style='padding:20px 10px 20px 10px; margin:20px 0px 20px 0px;background-color:#EEEEEE;')
			.col-lg-3.col-xs-3.col-xs-3(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
			.col-lg-2.col-xs-2.col-xs-2(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				div(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;')
					select(ng-options="mf.name for mf in mfgs track by mf.ManufacturerID" ng-model="selectedMf")
			.col-lg-2.col-xs-2.col-xs-2(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				div(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;')
					select(ng-options="type.ProductType for type in ptypes track by type.ProductTypeID" ng-model="selectedPType")
			.col-lg-3.col-xs-3.col-xs-3(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;')
			.col-lg-2.col-xs-1.col-xs-1(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				button.blueBtn(style='font-size:12px;margin-right:20px;', ng-click="addDP(selectedMf, selectedPType)") ADD
	br
	div()
		button.blueBtn(style='font-size:12px;', ng-click="saveChanges();") Save Changes
	br
	.panel.panel-default.fb-card-body(ng-repeat='dp in dataPermissions | filter : searchInfo.fbSearchText', 
	style='margin-left: 0px; margin-right: 0px; margin-top: 30px; box-shadow: none;')
		.row.vertical-align(style='padding:20px 10px 20px 10px; margin:20px 0px 20px 0px;background-color:#EEEEEE;')
			.col-lg-3.col-xs-3.col-xs-3(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				div(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;')
					img(src="{{mfImgPath + dp.manufacturer.PhotoFileName}}", style="height:50px;")
			.col-lg-2.col-xs-2.col-xs-2(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				div(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;') {{dp.manufacturer.name}}
			.col-lg-2.col-xs-2.col-xs-2(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				div(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;') {{dp.manufacturer.productType.ProductType}}
			.col-lg-3.col-xs-3.col-xs-3(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;')
				img(src="{{pImgPath + dp.manufacturer.productType.PhotoFileName}}", style="height:50px;")
			.col-lg-2.col-xs-1.col-xs-1(style='padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;height:100%;')
				button.blueBtn(style='font-size:12px;margin-right:20px;', ng-click="deleteDP(dp.DataPermissionID)") DELETE