.offline-modal-body {
    text-align: left;
}

.offline-modal-table {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.offline-modal-table tr {
    padding-top: 10px;
}

.offline-modal-table td {
    padding-right: 10px;
}

.offline-modal-table .glyphicon-ok {
    color: green;
}

.offline-modal-table .glyphicon-remove {
    color: red;
}
