<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fasterbids.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fasterbids</name>
    <description>
        Fasterbids App.
    </description>
    <author email="daltoncaughell@gmail.com" href="http://fasterbids.com">
        Fasterbids Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/assets/img/logo.png" />
        <icon density="mdpi" src="www/assets/img/logo.png" />
        <icon density="hdpi" src="www/assets/img/logo.png" />
        <icon density="xhdpi" src="www/assets/img/logo.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*" />
    <access origin="http://localhost" />
    <access origin="http://localhost:7923" />
    <access origin="http://localhost:8080" />
    <access origin="http://192.168.1.9:7923" />
    <access origin="http://192.168.1.9:8080" />
    <access origin="https://www.dropbox.com" />
    <access origin="http://www.dropbox.com" />
    <engine name="android" spec="~4.1.1" />
    <engine name="browser" spec="~3.6.0" />
    <access origin="cdvfile://*" />
    <preference name="xwalkVersion" value="17+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
