.fb-login-modal-email-input {
    margin-bottom: 10px;
    font-size: x-large;
    height: 50px;
}

.fb-login-modal-pass-input {
    font-size: x-large;
    height: 50px;
}

.fb-reset-modal-pass-input {
    margin-bottom: 10px;
    font-size: x-large;
    height: 50px;
}

.fb-reset-modal-email-input {
    margin-bottom: 10px;
    font-size: x-large;
    height: 50px;
}
